@keyframes bounce-slow {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(5%); }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}

.background-animate {
  background-size: 200%;
  animation: gradient-pan 3s linear infinite;
}

@keyframes gradient-pan {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}
